<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389953542458-86ugb4kp0s0o31kummba1l91548u35q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389953542458-86ugb4kp0s0o31kummba1l91548u35q5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389953542458-eep0v2g0rm25qll9bum0sjlvabfqlkk8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBafrE_3U__Kzm_VxWfrSbXzmfKCzhwP0</string>
	<key>GCM_SENDER_ID</key>
	<string>389953542458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dresswell.tailor</string>
	<key>PROJECT_ID</key>
	<string>dress-well-com</string>
	<key>STORAGE_BUCKET</key>
	<string>dress-well-com.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389953542458:ios:38b0f8c1512f0819551803</string>
</dict>
</plist>